<h1>Burgers</h1>

<main class="wrapper">
    <section class="uneaten">
        <h2>Burgers that still need to be eaten:</h2>

        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgerblk devoured=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </section>

    <section class="eaten">
        <h2>Recently eaten burgers:</h2>

        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgerblk devoured=false}}
            {{/if}}
            {{/each}}
        </ul>
    </section>
</main>

<h2>Add Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burgerName">Burger Name:</label>
        <input type="text" id="burgerName" name="name">
    </div>

    <button type="submit" class="Btn">Add Burger</button>
    <p>Enter the name of a burger you would like to eat, then click "Add Burger" to add it to your list.</p>
</form>